---
# Productivity tools installation role

- name: Install ripgrep
  ansible.builtin.apt:
    name: ripgrep
    state: present

- name: Install fd-find
  ansible.builtin.apt:
    name: fd-find
    state: present

- name: Create fd symlink (fd-find installs as fdfind)
  ansible.builtin.file:
    src: /usr/bin/fdfind
    dest: /usr/local/bin/fd
    state: link

- name: Install fzf
  ansible.builtin.apt:
    name: fzf
    state: present

- name: Install bat
  ansible.builtin.apt:
    name: bat
    state: present

- name: Create bat symlink (bat installs as batcat on Ubuntu)
  ansible.builtin.file:
    src: /usr/bin/batcat
    dest: /usr/local/bin/bat
    state: link
  ignore_errors: true

- name: Install tmux
  ansible.builtin.apt:
    name: tmux
    state: present

- name: Install direnv
  ansible.builtin.apt:
    name: direnv
    state: present

- name: Add direnv hook to bashrc for dev user
  ansible.builtin.lineinfile:
    path: "{{ dev_user_home }}/.bashrc"
    line: 'eval "$(direnv hook bash)"'
    create: true
    mode: '0644'
  become: true
  become_user: "{{ dev_username }}"

- name: Verify tool installations
  ansible.builtin.command: "{{ item }} --version"
  loop:
    - rg
    - fdfind
    - fzf
    - tmux
    - direnv
  register: tool_versions
  changed_when: false
  ignore_errors: true

- name: Display installed tools
  ansible.builtin.debug:
    msg: "{{ item.item }}: {{ item.stdout_lines[0] | default('installed') }}"
  loop: "{{ tool_versions.results }}"
  loop_control:
    label: "{{ item.item }}"
